.dropdown {
	position: relative;
	display: inline-flex;
}

.account-selector {
	display: inline-flex;
	.b-dropdown {
		border-radius: 5px;
		margin: 0 !important;
		height: 64px;
		&:after {
			top: 32px;
			right: 0;
			position: absolute;
			display: inline-block;
			margin-left: 0.255em;
			vertical-align: 0.255em;
			content: '';
			border-top: 0.3em solid;
			border-right: 0.3em solid transparent;
			border-bottom: 0;
			border-left: 0.3em solid transparent;
		}
		&-initials {
			border: 2px solid red;
			border-radius: 50%;
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			display: flex;
			align-items: center;
			text-align: center;
			text-transform: uppercase;
			width: 44px;
			height: 44px;
			// line-height: 44px;
			background: #fff;
		}
	}
	&-info {
		display: inline-table;
		font-size: 800;

		h6 {
			// font-family: "SF Pro Text";
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 150%;
			display: flex;
			align-items: center;
			color: #2c3a4b;
		}

		&-details {
			display: inline-block;
			// font-family: SF Pro Text;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			// line-height: 150%;
			color: #2c3a4b;
		}
	}
}

.dropdown-menu {
	.dropdown-itemlist,
	.dropdown-menu {
		position: absolute;
		left: 0;
		top: 0;
		height: 200px;
		width: 300px;
		// transform: translateX(-45%);
		// border-radius: var(--border-radius);
		padding: 1rem;
		overflow: hidden;
		transition: height var(--speed) ease;
		.menu {
			width: 100%;
			.menu-item {
				height: 50px;
				display: flex;
				align-items: center;
				// border-radius: var(--border-radius);
				transition: background var(--speed);
				padding: 0.5rem;
				.icon-button {
					margin-right: 0.5rem;
					&:hover {
						filter: none;
					}
				}
				.icon-right {
					margin-left: auto;
				}
				&:hover {
					background-color: #434343;
				}
			}
		}
		/* CSSTransition classes  */
		.menu-primary {
			&-enter {
				position: absolute;
				transform: translateX(-110%);
			}
			&-enter-active {
				transform: translateX(0%);
				transition: all var(--speed) ease;
			}
			&-exit {
				position: absolute;
			}
			&-exit-active {
				transform: translateX(-110%);
				transition: all var(--speed) ease;
			}
		}

		.menu-secondary {
			&-enter {
				transform: translateX(110%);
			}
			&-enter-active {
				transform: translateX(0%);
				transition: all var(--speed) ease;
			}
			&-exit {
			}
			&-exit-active {
				transform: translateX(110%);
				transition: all var(--speed) ease;
			}
		}
	}
}

/* Icon Button */
.icon-button {
	--button-size: calc(var(--nav-size) * 0.5);
	width: var(--button-size);
	height: var(--button-size);
	background-color: #484a4d;
	border-radius: 50%;
	padding: 5px;
	margin: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: filter 300ms;
}

.icon-button:hover {
	filter: brightness(1.2);
}

.icon-button svg {
	fill: var(--text-color);
	width: 20px;
	height: 20px;
}
